<footer class="footer">
  <small> Made with 😸 by Lucia Mezquida </small>
  <nav>
    <ul class="footer__nav">
      <li class="list">
        <a
          href="//www.linkedin.com/in/luciamezquidajuan/"
          class="link"
          title="Linkedin"
          target="_blank"
        ></a>
      </li>
      <li class="list">
        <a
          href="//github.com/LuciaMezquida"
          class="link"
          title="Github"
          target="_blank"
        ></a>
      </li>
      <li class="list">
        <a
          href="//twitter.com/LuciCodes"
          class="link"
          title="Twitter"
          target="_blank"
        ></a>
      </li>
    </ul>
  </nav>
</footer>
