.footer {
  background-color: $color-dark;
  font-family: $font-main;
  color: $color-light;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  &__nav {
    display: flex;
  }
  &__link {
    color: $color-light;
    padding-right: 1.5rem;
    transition: ease 0.8s;
    &:hover {
      color: $color-main;
    }
  }
}
.fa-cat {
  color: $color-main;
}
