.score-container {
  height: 10vh;
}
.score {
  text-align: center;
  font-family: $font-main;
  color: $color-dark;
  font-size: 2rem;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: 1px solid black;
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: $color-main;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: $color-main;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color-main;
}
