.score-container {
  height: 10vh;
  display: flex;
  align-items: center;
}
.score {
  text-align: center;
  font-family: $font-main;
  color: $color-dark;
  font-size: 2.8rem;
  font-weight: 700;
  @media all and(max-width: 470px) {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: -210px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.grid {
  position: absolute;
  width: 1215px;
  height: 500px;
  @media all and(max-width: 1200px) {
    width: 1000px;
  }
  @media all and(max-width: 768px) {
    width: 700px;
  }
  @media all and(max-width: 568px) {
    width: 420px;
  }
  @media all and(max-width: 370px) {
    width: 320px;
  }
}

.block {
  position: absolute;
  width: 70px;
  height: 16px;
  background-color: $color-main;
  border-radius: 2px;
}
.user {
  position: absolute;
  width: 120px;
  height: 17px;
  background-color: $color-main;
  border-radius: 2px;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $color-main;
}
.fa-arrow-circle-left,
.fa-arrow-circle-right,
.fa-pause-circle {
  color: $color-main;
  font-size: 1.4rem;
  margin-left: 1.2rem;
}
.i-container {
  display: flex;
  transform: translate(0, 40px);
}
.instructions {
  font-family: $font-main;
  margin-left: 0.2rem;
}
.play {
  margin-left: 2rem;
  border: none;
  background-color: $color-main;
  outline: none;
  border-radius: 2px;
  padding: 0.7rem;
  color: $color-light;
  font-family: $font-main;
  font-weight: 700;
  font-size: 1.2rem;
  &:active {
    transform: scale(0.95);
  }
  @media all and(max-width: 370px) {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: -210px;
  }
}
.touch-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  .btn {
    border: none;
    background-color: $color-main;
    outline: none;
    border-radius: 2px;
    padding: 0.7rem;
    color: $color-light;
    font-family: $font-main;
    font-weight: 700;
    font-size: 1.2rem;
    @media all and(max-width: 470px) {
      padding: 0.5rem;
      font-weight: 500;
      font-size: 0.7rem;
      margin-bottom: -30px;
    }
  }
}
.hide {
  display: none;
}
