* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.score {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: 1px solid black;
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #ff8800;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #ff8800;
}
