.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: 1px solid black;
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: purple;
}
